<template>
    <div class="row">

        <div class="col">
            <div class="row">
                <div class="col">
                    <h3 style="padding-top:20px;">Vos informations</h3>
                    <hr>
                </div>
            </div>

            <div class="row">
                 <div class="col">
                    <h4>Identité</h4>
                     <p>{{ store.c_name }} {{ store.c_surname }}<span v-if="store.c_sex"> - {{ store.c_sex }}</span></p>
                     <p v-if="store.c_birthday">Né(e) le {{ store.c_birthday | formatDate}}<span v-if="store.c_birthplace"> à {{ store.c_birthplace }}</span></p>
                    <p>Mail : {{ store.email }}</p>
                 </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Motivation</h4>
                    <p>{{ store.motivation }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Responsables légaux</h4>
                    <p>{{ store.rl1_name }} {{ store.rl1_surname }}<span v-if="store.rl1_sex"> - {{ store.rl1_sex }}</span></p>
                    <p v-if="store.rl1_birthday">Né(e) le {{ store.rl1_birthday | formatDate }} <span v-if=" store.rl1_birthplace"> à {{ store.rl1_birthplace }}</span></p>
                    <p v-if="store.rl1_address">Adresse : {{ store.rl1_address }} {{ store.rl1_postcode }} {{ store.rl1_city }}</p>
                    <h5 v-if="store.rl1_tel || store.rl1_mail">Coordonnées</h5>
                    <p v-if="store.rl1_tel">Téléphone : {{ store.rl1_tel }}</p>
                    <p v-if=" store.rl1_mail">Mail : {{ store.rl1_mail }}</p>

                    <p>{{ store.rl2_name }} {{ store.rl2_surname }}<span v-if="store.rl2_sex"> - {{ store.rl2_sex }}</span></p>
                    <p v-if="store.rl2_birthday ">Né(e) le {{ store.rl2_birthday | formatDate }} <span v-if=" store.rl2_birthplace"> à {{ store.rl2_birthplace }}</span></p>
                    <p v-if="store.rl2_address">Adresse : {{ store.rl2_address }} {{ store.rl2_postcode }} {{ store.rl2_city }}</p>
                    <h5 v-if="store.rl2_tel || store.rl2_mail">Coordonnées</h5>
                    <p v-if="store.rl2_tel">Téléphone : {{ store.rl2_tel }}</p>
                    <p v-if=" store.rl2_mail">Mail : {{ store.rl2_mail }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Scolarité</h4>
                    <p v-if="store.c_class">Classe demandée : {{ store.c_class }}</p>
                    <p v-if="store.c_lastclass"> Classe précèdente : {{ store.c_lastclass }}</p>
                    <p>{{ store.cl_adress }} {{ store.cl_postcode }} {{ store.cl_city }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h4>Extra-Scolaire</h4>
                    <p>Garderie matin : <span v-if="store.i_gardmat">oui</span> <span v-else>non</span></p>
                    <p>Garderie après-midi : <span v-if="store.i_gardapr">oui</span> <span v-else>non</span></p>
                    <p>Cantine midi : <span v-if="store.i_rest">oui</span> <span v-else>non</span></p>
                    <p>Transport Scolaire : <span v-if="store.i_trans">oui</span> <span v-else>non</span></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "ChildInfo",
    computed: {
        ...mapGetters(['store'])
    },
}
</script>

<style scoped>

</style>
