<template>
  <div>
      <h3 style="padding-top:20px;">Messagerie</h3>
      <hr>
      <p v-if="messages.lentgh == 0">Aucun nouveau message</p>

    <div v-for="(message, index) in messages" :key="message.message">
      <div v-if="index-1 >= 0" class="text-center" style="margin-top: 1rem;">
        <div v-if="compareDate(messages[index-1].created_at, message.created_at)">
          {{ message.created_at | formatDate }}
        </div>
      </div>
      <!--
      ** Msg admin : gris **
      ** Msg non admin : bleu **
      Si log non admin et msg admin : à gauche
      Si log non admin et msg non admin : à droite
      Si log admin et msg non admin : à gauche
      Si log admin et msg admin : à droite -->
      <div v-bind:class="((isAdmin && message.isAdmin) || (!isAdmin && !message.isAdmin)) ? 'text-right' : 'text-left'">
        <div v-if="message.isAdmin">
          <div v-if="isAdmin">
            Vous
          </div>
          <div v-else>Administrateur</div>
        </div>
        <div v-else>
          <div v-if="isAdmin">
            Candidat
          </div>
          <div v-else>Vous</div>
        </div>
        <div class="rounded-pill m-2" v-bind:style="message.isAdmin ? {'background-color': 'lightgray' } : {'background-color': '#A9E88D'}"
        style="padding-left: 1rem !important; padding-right: 1rem !important; padding-bottom: 0.5rem !important; padding-top: 0.5rem !important;">
          <div v-bind:class="((isAdmin && message.isAdmin) || (!isAdmin && !message.isAdmin)) ? 'text-left' : 'text-right'" class="fst-italic" style="font-size: 10px;">
            {{ message.created_at | formatDateHour }}
          </div>
          {{ message.message }}
        </div>
      </div>
    </div>

    <div class="text-right">
      <textarea cols="50" v-model="new_message" class="form-control col-md-10 m-auto">
      </textarea>
      <button class="btn btn-dark m-2" @click="sendMessage">Envoyer</button>
    </div>
  </div>
</template>

<script>
export default {
    name: "Tchat",

    /** Récupération des messages envoyés dans l'instant */
    mounted() {
      window.Echo.channel('channel')
        .listen('MessageSent', (e) => {
          this.messages.push(e.message.message);
        });
    },

    data() {
      return {
        messages: [],
        new_message:null,
        isAdmin: null,
      }
    },

    /** Récupération des messages de la candidature */
    async created() {
      this.majMessages();
      //On récupére quel type de profil est log
      if(this.admin)this.isAdmin = this.admin.logged;
    },

    methods: {
        /** Envoie du message */
        async sendMessage() {
          if(this.new_message !== null && this.new_message !== '') {
            await axios.post('/candidature/' + this.store.id + '/messages', {
              message: this.new_message,
              isAdmin: this.isAdmin,
              //A modifier
              candidature_id: this.store.id
            }).then(() => {
              //Réinitilisation du champ
              this.new_message = '';
              //Récupération des messages
              this.majMessages();
            });
          }
        },

        /** Récupération des messages */
        async majMessages() {
          await axios.get('/candidature/' + this.store.id + '/messages').then(res => {
            this.messages = res.data;
          });
        },

        compareDate(dateOne, dateTwo) {
          let moment = require('moment');
          var date1 = moment(new Date(dateOne)).format('DD-MM-YYYY');
          var date2 = moment(new Date(dateTwo)).format('DD-MM-YYYY');

          return date1 !== date2;
        },
    }
}
</script>

<style scoped>

</style>
