<template>
  <div class="p-3">
      <h1><router-link :to="{name:'Home'}">Gestion des inscriptions</router-link></h1>
      <hr>
  </div>
</template>

<script>
export default {
    name: "SideNav"
}
</script>

<style scoped>

</style>
