<template>
    <div class="container">

        <div class="navbar-container p-3" style="min-height: 73px;">
            <nav class="navbar navbar-expand-lg navbar-dark" data-overlay="" data-sticky="top" style="max-width: 1583px; top: 0px;">
                <div class="container">
                    <h1>Tableau de bord</h1>
                    <div class="justify-content-end">
                        <button class="btn btn-dark" @click="back(true)">Déconnexion</button>
                    </div>
                </div>
            </nav>
        </div>
        <hr>
        <p>Bienvenue dans l'espace d'administration</p>

        <!-- <button class="btn btn-outline-dark" @click="back(false)">Retour</button> -->
        <div class="row">
            <div class="col p-3">
                <select style="border-radius:10px;" v-model="filterStatus">
                    <option :value="null" :selected="!filterStatus">Aucun filtre</option>
                    <option v-for="status in STATUS" :value="status" :selected="filterStatus===status">
                        {{ status }}
                    </option>
                </select>
            </div>
            <div class="col text-right">
                <button class="btn btn-light" @click="exportation">Exporter</button>
            </div>
        </div>

        <table class="table table-hover table-dark"  style="border-radius: 10px;" v-if="candidaturesFiltered&&candidaturesFiltered.length>0">
            <thead>
                <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">Statut</th>
                <th scope="col">Options</th>
                </tr>
            </thead>
            <tbody v-for="candidature in candidaturesFiltered">
                <tr>
                    <th scope="row">{{ candidature.id }}</th>
                    <td>{{ candidature.email }}</td>
                    <td>
                        <select  class="text-white bg-dark" style="border-radius: 10px;" @change="updateCandid($event,candidature.id)">
                            <option v-for="status in STATUS" :value="status" :selected="candidature.status===status">{{
                                    status
                                }}
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-light" @click="$router.push({name:'Dashboard',params:{id:candidature.id}})">
                            Détails
                        </button>
                        <button class="btn btn-danger" @click="deleteCandid(candidature.id)">Supprimer</button>

                    </td>
                </tr>
            </tbody>
        </table>
        <p v-else>Aucune candidature pour le moment</p>

        <h1 class="text-left">Statistiques</h1>
        <hr>
        <template>
            <div style="width:50%;">
                <canvas id="myChart"></canvas>
            </div>
        </template>
    </div>
</template>

<script>
import TopNav from "../components/layout/TopNav";
import ChildInfo from "../components/Dashboard/ChildInfo";
import AttachedFiles from "../components/Dashboard/AttachedFiles";
import Tchat from "../components/Dashboard/Tchat";
import Chart from 'chart.js/auto';

export default {
    name: "AdminDashboard",
    data() {
        return {
            filterStatus: null,
            chart:null,
            dataCount:null,
        }
    },
    async created() {
        await axios.get('/candidature').then(res => {
            this.setDataAdmin('candidatures', res.data)
        }),
            this.initChart()
        if (!this.admin.logged)this.setDataAdmin('logged',true)

    },
    methods:{
        async deleteCandid(id){
            await axios.delete('/candidature/' + id)
            let index = this.admin.candidatures.findIndex(c => c.id == id)
            this.admin.candidatures.splice(index,1)
        },
        async updateCandid(event, id) {
            await axios.put('/candidature/' + id, {
                status: event.target.value
            })
            this.admin.candidatures.find(c => c.id == id).status = event.target.value
            this.initChart()
        },
        setDataGraph(){
            let dataCount = []
            this.statuses.forEach(s=>{
                dataCount.push(this.admin.candidatures.filter(c => c.status ==s).length)
            })
            this.dataCount = dataCount
        },
        exportation() {
            axios.get('/candidature/export', {responseType: 'blob'}).then(res => {
                const url = window.URL.createObjectURL(new Blob([res.data]));
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', 'export.xlsx'); //or any other extension
                document.body.appendChild(link);
                link.click();
            })
        },
        initChart(){
            if (this.chart)this.chart.destroy()
            this.setDataGraph()
            const data = {
                labels: this.statuses,
                datasets: [{
                    label: 'Candidatures',
                    data: this.dataCount,
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 205, 86)',
                        'rgb(255, 205, 234)',
                        'rgb(85, 20, 86)'
                    ],
                    hoverOffset: 4
                }]
            };
            const config = {
                type: 'pie',
                data: data,
            };
            this.chart = new Chart(
                document.getElementById('myChart'),
                config
            );
        },
        back(disconnect) {
            if (disconnect) {
                this.setDataAdmin('logged', false);
                localStorage.removeItem('admin');
            }
            this.resetStore()
            this.$router.push({name: 'Home'})
        },
    },
    computed:{
        candidaturesFiltered() {
            if (this.admin.candidatures) {
                if (!this.filterStatus) return this.admin.candidatures.filter(c => c.status !== 'initial')
                return this.admin.candidatures.filter(c => c.status === this.filterStatus)
            }
        },
        statuses() {
            return Array.from(new Set( this.admin.candidatures.map(a => {
                return a.status
            })));
        },
    }
}
</script>

<style scoped>

</style>
