<template>
    <router-view></router-view>
</template>

<script>
    export default {
        name:"App",
        created(){
            if (localStorage.getItem('admin'))this.$router.push({name:'AdminDashboard'})
        }
    }
</script>

<style>

</style>
