<template>
    <div class="container">
        <top-nav v-if="!admin.logged"></top-nav>
        <button v-else class="btn btn-light m-3" @click="$router.push({name:'AdminDashboard'})">Retour</button>
        <div class="row align-items-start">
            <div  class="col" >
                <h1 v-if="!admin.logged">Tableau de bord</h1>
                <div  v-else>
                    <h1>Tableau de bord de la candidature {{store.id}}</h1>

                </div>
                <p v-if="!admin.logged">Bienvenue {{ store.rl1_name }} ! Vous trouverez ici le suivi de votre demande.</p>
            </div>
            <!-- <button class="btn btn-dark col col-md-2" @click="createMeeting">Créer un meeting</button> -->
        </div>
        <div class="row align-items-start">
            <div class="col">
                <child-info class="row bg-white m-2" style="border-radius: 20px;border: 1px solid #A9E88D;" v-if="store.id"></child-info>
                <attached-files class ="row bg-white m-2"  style="border-radius: 20px;border: 1px solid #A9E88D;" v-if="store.id"></attached-files>
            </div>
            <tchat class="col bg-white m-2" style="border-radius: 20px;border: 1px solid #A9E88D;" v-if="store.id"></tchat>
        </div>
        <ul>
            <li v-for="meeting in meetings"><a :href="meeting.web_url">Rejoindre la réunion du {{meeting.start_date}}</a></li>
        </ul>
    </div>
</template>

<script>
import TopNav from "../components/layout/TopNav";
import ChildInfo from "../components/Dashboard/ChildInfo";
import AttachedFiles from "../components/Dashboard/AttachedFiles";
import Tchat from "../components/Dashboard/Tchat";
export default {
    name: "Dashboard",
    components: {Tchat, AttachedFiles, ChildInfo, TopNav},
    data(){
        return {
            meetings:[],
        }
    },
    async created(){
        if (this.$route.params.id){
            await this.$store.commit('setCurrentCandidature',this.$route.params.id)
        }
        // let res = await axios.get('/candidature/'+this.store.id+'/meeting');
        // this.meetings = res.data;
    },
    methods:{
        async createMeeting(){
            let meeting = await axios.post('https://graph.microsoft.com/v1.0/me/onlineMeetings',{
                "startDateTime":"2019-07-12T14:30:34.2444915-07:00",
                "endDateTime":"2019-07-12T15:00:34.2464912-07:00",
                "subject":"User Token Meeting"
            })
            await axios.post('/meeting',{
                start_date:'2022-07-12T14:30:34.2444915-07:00',
                end_date:'2022-07-12T15:00:34.2464912-07:00',
                web_url:meeting.data.joinWebUrl,
                candidature_id:this.store.id,
            })
            this.meetings.push({
                start_date:'2019-07-12T14:30:34.2444915-07:00',
                end_date:'2019-07-12T15:00:34.2464912-07:00',
                web_url:'meeting.data.joinWebUrl'
            })
        }
    }
}
</script>

<style scoped>

</style>
