<template>
    <div class="container">
        <side-nav></side-nav>
        <router-view></router-view>
    </div>
</template>

<script>
import SideNav from "../components/layout/SideNav";
import isEmpty from "lodash/isEmpty";
import {mapGetters} from "vuex";
export default {
    name: "Registration",
    components: {SideNav},
    async created(){
        if (this.$route.params.id){
            await this.login(this.$route.params.id)
        }
    }

}
</script>

<style scoped>

</style>
