<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <template v-if="!sent">
            <h1>Candidature</h1>
            <div class="container">
                <h1>Informations sur l'enfant</h1>
                <div class="row">
                    <div class="col-1">
                        <img :src="'/image/'+$route.name+'.jpg'"/>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col form-group">
                                <label for="c_surname">Nom de l'enfant *</label>
                                <input class="form-control" type="text" id="c_surname" :value="store.c_surname"
                                       @change="setData('c_surname',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="c_name">Prénom de l'enfant *</label>
                                <input class="form-control" type="text" id="c_name" :value="store.c_name"
                                       @change="setData('c_name',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="c_birthday">Date de naissance de l'enfant *</label>
                                <input class="form-control" type="date" id="c_birthday" :value="store.c_birthday"
                                       @change="setData('c_birthday',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="c_birthplace">Lieu de naissance de l'enfant</label>
                                <input class="form-control" type="text" id="c_birthplace" :value="store.c_birthplace"
                                       @change="setData('c_birthplace',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="c_sex">Sexe de naissance de l'enfant</label>
                                <select class="form-control" id="c_sex" @change="setData('c_sex',$event.target.value);">
                                    <option :selected="store.c_sex==null">Selectionner un sexe</option>
                                    <option :selected="store.c_sex==1">Homme</option>
                                    <option :selected="store.c_sex==2">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <h1>Motivation</h1>
                                <p>Détails des motivations *</p>
                                <textarea class="form-control" id="motivation" :value="store.motivation"
                                          @change="setData('motivation',$event.target.value);"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-right" style="margin-top: 20px;">
                    <button :class="submitValidation?'':'disabled'" class="btn btn-dark" @click="send">Demander un RDV</button>
                </div>
            </div>
        </template>
        <template v-else>
            <h1>Votre dossier est en cours de traitement, vous allez recevoir plus d'informations prochainement par
                mail.</h1>
        </template>
    </div>

</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Step2",
    computed: {
        ...mapGetters(['store']),
        submitValidation() {
            return this.store.c_surname && this.store.c_name && this.store.c_birthday;
        }
    },
    async created() {
        let res = await axios.get('/candidature/' + this.store.id)
        if (res.data.status !== 'waitingForMeeting' && res.data.status !== 'initial') this.$router.push({name: 'Step3'})
        else if (res.data.status !== 'initial') this.sent = true;
    },
    data() {
        return {
            sent: false,
        }
    },
    methods: {
        async send() {
            this.save('Step3', false)
            await axios.put('/candidature/' + this.store.id, {
                status: 'waitingForMeeting'
            })
            this.sent = true;
        }
    },
}
</script>

<style scoped>

</style>
