<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <h1>Etape 1</h1>
        <div class="row">
            <div class="col-1">
                <img :src="'/image/'+$route.name+'.jpg'"/>
            </div>
            <div class="col">
                <div class="col form-group">
                    <p>Veuillez rentrer votre adresse mail. Nous l'utiliserons pour vous tenir au courant de
                        l'avancement de votre inscription. Vous allez recevoir un lien, sous peu, pour retrouver votre
                        demande là
                        où vous
                        l'avez laissée</p>
                    <label for="email">Votre e-mail *</label>
                    <input class="form-control" type="email" id="email" :value="store.email" :disabled="store.id"
                           @change="setData('email',$event.target.value);">
                </div>
                <div class="text-right" style="margin-top: 20px;">
                    <button class="btn btn-dark" :class="submitValidation?'':'disabled'" @click="save('Step2')">Suivant
                    </button>
                    <button type="button" data-toggle="modal" data-target="#modalReset" v-if="store.id!==null"
                            class="btn btn-danger">Remettre le formulaire à zero
                    </button>
                    <modal-reset></modal-reset>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import {mapGetters} from "vuex";
import ModalReset from "../Modals/ModalReset";

export default {
    name: "Step1",
    components: {ModalReset},
    computed: {
        ...mapGetters(['store']),
        submitValidation() {
            return this.store.email;
        }
    },
    created() {
        if (!this.store.email) {
            this.resetStore();
        }
        this.setStep(1);
    },
    methods: {}
}
</script>

<style scoped>

</style>
