<template>
    <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
        <h1>Récapitulatif</h1>
        <div class="row">
            <div class="col-1">
                <img :src="'/image/'+$route.name+'.jpg'"/>
            </div>
            <div class="col">
                <h3>Identité</h3>
                <p>{{ store.c_name }} {{ store.c_surname }}<span v-if="store.c_sex"> - {{ store.c_sex }}</span></p>
                <p v-if="store.c_birthday">Né(e) le {{ store.c_birthday | formatDate}} <span v-if="store.c_birthplace"> à {{ store.c_birthplace }}</span></p>
                <p>Mail : {{ store.email }}</p>

                <h3>Motivation</h3>
                <p>{{ store.motivation }}</p>

                <h3>Responsables légaux</h3>
                <p>{{ store.rl1_name }} {{ store.rl1_surname }}<span v-if="store.rl1_sex"> - {{ store.rl1_sex }}</span></p>
                <p v-if="store.rl1_birthday">Né(e) le {{ store.rl1_birthday | formatDate }} <span v-if="store.rl1_birthplace"> à {{ store.rl1_birthplace }}</span></p>
                <p v-if="store.rl1_address">Adresse : {{ store.rl1_address }} {{ store.rl1_postcode }} {{ store.rl1_city }}</p>
                <h5 v-if="store.rl1_tel || store.rl1_mail">Coordonnées</h5>
                <p v-if="store.rl1_tel">Téléphone : {{ store.rl1_tel }}</p>
                <p v-if=" store.rl1_mail">Mail : {{ store.rl1_mail }}</p>

                <p>{{ store.rl2_name }} {{ store.rl2_surname }}<span v-if="store.rl2_sex"> - {{ store.rl2_sex }}</span></p>
                <p v-if="store.rl2_birthday ">Né(e) le {{ store.rl2_birthday | formatDate }} <span v-if="store.rl2_birthplace"> à {{ store.rl2_birthplace }}</span></p>
                <p v-if="store.rl2_address">Adresse : {{ store.rl2_address }} {{ store.rl2_postcode }} {{ store.rl2_city }}</p>
                <h5 v-if="store.rl2_tel || store.rl2_mail">Coordonnées</h5>
                <p v-if="store.rl2_tel">Téléphone : {{ store.rl2_tel }}</p>
                <p v-if=" store.rl2_mail">Mail : {{ store.rl2_mail }}</p>
                <router-link :to="{name:'Step3'}">Modifier</router-link>

                <h3>Scolarité</h3>
                <p v-if="store.c_class">Classe demandée : {{ store.c_class }}</p>
                <p v-if="store.c_lastclass"> Classe précèdente : {{ store.c_lastclass }}</p>
                <p>{{ store.cl_adress }} {{ store.cl_postcode }} {{ store.cl_city }}</p>
                <router-link :to="{name:'Step4'}">Modifier</router-link>

                <h3>Extra-Scolaire</h3>

                <p>Garderie matin : <span v-if="store.i_gardmat">oui</span> <span v-else>non</span></p>
                <p>Garderie après-midi : <span v-if="store.i_gardapr">oui</span> <span v-else>non</span></p>
                <p>Cantine midi : <span v-if="store.i_rest">oui</span> <span v-else>non</span></p>
                <p>Transport Scolaire : <span v-if="store.i_trans">oui</span> <span v-else>non</span></p>
            </div>
        </div>

        <div class="text-right">
            <router-link class="btn btn-outline-dark" :to="{name:'Step5'}">Modifier</router-link>
            <button @click="save('Dashboard')" class="btn btn-dark">Confirmer la demande</button>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Step10",
    computed: {
        ...mapGetters(['store'])
    },
}
</script>

<style scoped>

</style>
