<template>
    <div>
        <div class="bg-white p-5" style="border-radius: 20px;border: 1px solid #A9E88D;">
            <h1>Votre dossier a été validé, merci de le compléter</h1>
            <h2>Responsable légal</h2>
            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <img :src="'/image/'+$route.name+'.jpg'"/>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_surname">Nom du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_surname" :value="store.rl1_surname"
                                       @change="setData('rl1_surname',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="rl1_name">Prénom du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_name" :value="store.rl1_name"
                                       @change="setData('rl1_name',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_birthday">Date de naissance du responsable légal *</label>
                                <input class="form-control" type="date" id="rl1_birthday" :value="store.rl1_birthday"
                                       @change="setData('rl1_birthday',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="rl1_birthplace">Lieu de naissance du responsable légal</label>
                                <input class="form-control" type="text" id="rl1_birthplace"
                                       :value="store.rl1_birthplace"
                                       @change="setData('rl1_birthplace',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 form-group">
                                <label for="rl1_sex">Sexe de naissance du responsable légal</label>
                                <select class="form-control" id="rl1_sex"
                                        @change="setData('rl1_sex',$event.target.value);">
                                    <option :selected="store.rl1_sex==null">Selectionner un sexe</option>
                                    <option :selected="store.rl1_sex==1">Homme</option>
                                    <option :selected="store.rl1_sex==2">Femme</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_address">Adresse du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_address" :value="store.rl1_address"
                                       @change="setData('rl1_address',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="rl1_postcode">Code postal du responsable légal *</label>
                                <input class="form-control " type="text" id="rl1_postcode" :value="store.rl1_postcode"
                                       @change="setData('rl1_postcode',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="rl1_city">Ville du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_city" :value="store.rl1_city"
                                       @change="setData('rl1_city',$event.target.value);">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col form-group">
                                <label for="rl1_tel">Télephone du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_tel" :value="store.rl1_tel"
                                       @change="setData('rl1_tel',$event.target.value);">
                            </div>
                            <div class="col form-group">
                                <label for="rl1_mail">Courriel du responsable légal *</label>
                                <input class="form-control" type="text" id="rl1_mail" :value="store.rl1_mail"
                                       @change="setData('rl1_mail',$event.target.value);">
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" v-model="twoResp">
                            <label class="form-check-label" for="exampleCheck1">Ajouter un responsable légal</label>
                        </div>
                        <div v-if="twoResp" class="container">
                            <h2>Responsable légal</h2>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_surname">Nom du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_surname" :value="store.rl2_surname"
                                           @change="setData('rl2_surname',$event.target.value);">
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_name">Prénom du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_name" :value="store.rl2_name"
                                           @change="setData('rl2_name',$event.target.value);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_birthday">Date de naissance du responsable légal</label>
                                    <input class="form-control" type="date" id="rl2_birthday"
                                           :value="store.rl2_birthday"
                                           @change="setData('rl2_birthday',$event.target.value);">
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_birthplace">Lieu de naissance du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_birthplace"
                                           :value="store.rl2_birthplace"
                                           @change="setData('rl2_birthplace',$event.target.value);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <label for="rl2_sex">Sexe de naissance du responsable légal</label>
                                    <select class="form-control" id="rl2_sex"
                                            @change="setData('rl2_sex',$event.target.value);">
                                        <option :selected="store.rl2_sex==null">Selectionner un sexe</option>
                                        <option :selected="store.rl2_sex==1">Homme</option>
                                        <option :selected="store.rl2_sex==2">Femme</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_address">Adresse du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_address" :value="store.rl2_address"
                                           @change="setData('rl2_address',$event.target.value);">
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_postcode">Code postal du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_postcode"
                                           :value="store.rl2_postcode"
                                           @change="setData('rl2_postcode',$event.target.value);">
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_city">Ville du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_city" :value="store.rl2_city"
                                           @change="setData('rl2_city',$event.target.value);">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="rl2_tel">Téléphone du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_tel" :value="store.rl2_tel"
                                           @change="setData('rl2_tel',$event.target.value);">
                                </div>
                                <div class="col form-group">
                                    <label for="rl2_mail">Courriel du responsable légal</label>
                                    <input class="form-control" type="text" id="rl2_mail" :value="store.rl2_mail"
                                           @change="setData('rl2_mail',$event.target.value);">
                                </div>
                            </div>
                        </div>
                        <div class="text-right" style="margin-top: 20px;">
                            <button class="btn btn-dark" :class="submitValidation?'':'disabled'" @click="save('Step4')">Suivant</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
    name: "Step3",
    data() {
        return {
            twoResp: false,
        }
    },
    computed: {
        ...mapGetters(['store']),
        submitValidation(){
            return this.store.rl1_name && this.store.rl1_surname && this.store.rl1_birthday && this.store.rl1_address &&
                this.store.rl1_postcode && this.store.rl1_city && this.store.rl1_tel && this.store.rl1_mail;
        }
    },
    created() {
        if (this.store.rl2_name) this.twoResp = true
    },
    methods: {}
}
</script>

<style scoped>

</style>
