<template>
    <div class="modal fade" id="modalHome" tabindex="-1" role="dialog" aria-labelledby="modalHome" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <template v-if="!forgot">
                        <p>Veuillez entrer votre numéro de candidature</p>
                        <input type="password" class="form-control" v-model="password">
                        <button class="btn btn-sm btn-outline-dark" style="margin-top:5px;" @click="forgot=true">Numéro oublié ?</button>
                        <div class="text-right">
                            <button class="btn btn-dark" data-dismiss="modal" @click="login(password)">Accéder à ma demande</button>
                        </div>
                    </template>
                    <template v-else>
                        <p>Renseigner votre email pour le recevoir à nouveau</p>
                        <input type="email" v-model="email">
                        <button data-dismiss="modal" class="btn btn-primary" @click="resetLink">Envoyer</button>
                    </template>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Modal",
    data(){
        return {
            forgot:false,
            password:null,
            email:null,
        }
    },

    mounted(){
        $('#modalHome').on('hidden.bs.modal', (e)=> {
            this.forgot=false
        })
    },
    methods:{
        resetLink(){
            axios.post('/resetLink/',{
                email:this.email,
            }).then(()=>{
                this.email=false;
            })
        }
    }
}
</script>

<style scoped>

</style>
