<template>
    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <label for="pseudo">Pseudo</label>
                    <input type="text" class="form-control" id="pseudo" v-model="pseudo">
                    <br/>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" v-model="password">
                    <div class="text-right" style="margin-top: 10px;">
                        <button class="btn btn-dark" @click="login" data-dismiss="modal">Accéder au dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "modalLogin",
    data(){
        return {
            password:null,
            pseudo:null,
        }
    },

   methods:{
        async login(){
            await axios.post('/admin/login',{
                pseudo:this.pseudo,
                password:this.password
            }).then(res=>{
                this.setDataAdmin('logged',true)
                localStorage.setItem('admin', true);
                this.$router.push({name:'AdminDashboard'})
            },err=>{
                console.log(err)
            })
        }

   }
}
</script>

<style scoped>

</style>
