<template>
    <div class="modal fade" id="modalReset" tabindex="-1" role="dialog" aria-labelledby="modalReset" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h1>Voulez vous vraiment reset le formulaire?</h1>
                    <button class="btn btn-danger" @click="resetStore" data-dismiss="modal">Oui</button>
                    <button class="btn btn-secondary" data-dismiss="modal">Non</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ModalReset",

    mounted(){

    }
}
</script>

<style scoped>

</style>
